#coursesform{
    display: flex;
    flex-wrap: wrap;
}
#coursesform > div{
    border: 1px solid black;
    padding: 10px;
    text-align: center
}
.tableheader{
    width: 200px;
    height: 50px;
}
