    .home {
        text-decoration-style: none;
        overflow: hidden;
        background-color: black;
    }
    .homebar {
        float: left;
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .homebar:hover {
        background-color: gray;
    }
    .active{
        background-color: white;
        color: black;
    }
