<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <title>{% block title %} {% endblock %}</title> 
    {% block external %} {% endblock %}
</head>
<body>
    <div id='workspace'>
        <div id='main'>
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
                {% if form.errors %}
                    {% for error in form.errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                {% endif %}
                <hr>
            {% endif %}
            <header>
                {% block navbuttons %} {% endblock %}
                <hr>
            </header>
            {% if showA %}
              <section id='section-a'>
            {% else %}  
              <section id='section-a' style="display: none;">
            {% endif %}
                {% block a %} {% endblock %} 
              </section>
            {% if showB %}
              <section id='section-b'>
            {% else %}  
              <section id='section-b' style="display: none;"> 
            {% endif %}
                {% block b %} {% endblock %} 
              </section>
            {% if showC %}
              <section id='section-c'> 
            {% else %}  
              <section id='section-c' style="display: none;"> 
            {% endif %}
                {% block c %} {% endblock %} 
              </section>
            <footer>
              <hr>
              {% block footer %} {% endblock %}
            </footer>
        </div>
    </div>
    {% block modalitems %} {% endblock %}
</body>
</html>
