{% extends "students/a_layout.html" %}

{% block b %}
<div class='vstack'>
  <h2>Define what you need</h2>
  <hr>
  <div class='hstack boderbox'>
    <!-- coursesdata tree -->
	  <div class='vstack'>
      <h2> My Course Data </h2>
       <ul id='coursesdata'>
      </ul>      		
	  </div>
    <!-- toggle course operations -->    
    <div class='vstack'>
      <!-- user data request-->
      {% if name %}
        <button class='stack' id='refreshcoursesdata'>update</button>    
      {% endif %}
      <button class='stack' id='majoroperation'>major</button>    
      <button class='stack' id='categoryoperation'>category</button>    
      <button class='stack' id='subcategoryoperation'>subcategory</button>    
      <button class='stack' id='requirementoperation'>requirement</button>    
      <button class='stack' id='courseoperation'>course</button>    
      <button class='stack' id='prereqoperation'>prereq</button>    
      <button class='stack' id='apoperation'>ap</button>    
    </div>
  </div>
  <div class='hstack boderbox'>
    <!-- major operation -->
    <div id='majorforms' style="display: none;">
      <h1>Major</h1>
      <hr>
      <button id='createmajoroperation'>Create</button>    
      <button id='deletemajoroperation'>Delete</button>    
      <hr>
      {% block majorFormA %}{% endblock %}
      {% block majorFormB %}{% endblock %}
    </div> 
    <!-- category operation -->
    <div id='categoryforms' style="display: none;">
      <h1>Category</h1>
      <hr>
		  <button id='createcategoryoperation'>Create</button>    
      <button id='addcategoryoperation'>Add</button>    
      <button id='deletecategoryoperation'>Delete</button>    
      <hr>
      {% block categoryFormA %}{% endblock %}
      {% block categoryFormB %}{% endblock %}
    </div>
    <!-- subcategory operation -->
    <div id='subcategoryforms' style="display: none;">
      <h1>Subcategory</h1>
      <hr>
		  <button id='createsubcategoryoperation'>Create</button>    
      <button id='addsubcategoryoperation'>Add</button>    
      <button id='deletesubcategoryoperation'>Delete</button>    
      <hr>
      {% block subcategoryFormA %}{% endblock %}
      {% block subcategoryFormB %}{% endblock %}
    </div>
    <!-- requirement operation -->
    <div id='requirementforms' style="display: none;">
      <h1>Requirement</h1>
      <hr> 
      <button id='createrequirementoperation'>Create</button>    
      <button id='addrequirementoperation'>Add</button>    
      <button id='deleterequirementoperation'>Delete</button>    
      <hr>
      {% block requirementFormA %}{% endblock %}
      {% block requirementFormB %}{% endblock %}
		</div>
    <!-- course operation -->
    <div id='courseforms' style="display: none;">
      <h1>Course</h1>
      <hr> 
      <button id='createcourseoperation'>Create</button>    
      <button id='addcourseoperation'>Add</button>    
      <button id='deletecourseoperation'>Delete</button>    
      <hr>
      {% block courseFormA %}{% endblock %}
      {% block courseFormB %}{% endblock %}
		</div>  
    <!-- prereq operation -->
    <div id='prereqforms' style="display: none;">
      <h1>Prereq</h1>
      <hr> 
      <button id='addprereqoperation'>Add</button>    
      <button id='deleteprereqoperation'>Delete</button>    
      <hr>
      {% block prereqFormA %}{% endblock %}
		</div>
    <!-- ap operation -->
    <div id='apforms' style="display: none;">
      <h1>AP</h1>
      <hr> 
      <button id='createapoperation'>Create</button>    
      <button id='addapoperation'>Add</button>    
      <button id='deleteapoperation'>Delete</button>    
      <hr>
      {% block apFormA %}{% endblock %}
      {% block apFormB %}{% endblock %}
		</div>  
	</div>
</div>
{% endblock %}
