{% extends "students/c_helper.html" %}

{% block mymajoroperation %}
   <div class="vstack">
      <div class="hstack">
        <label>Select Major</label>
        <select name="major" id="majormanageroptionsmajors">
        </select><!-- request data for options -->
      </div>    
      <div class="hstack">
        <button id="majormanageraddbutton" type="submit" formaction="">Add</button>
        <button id="majormanagerdeletebutton" type="submit" formaction="">Delete</button>
      </div>
   </div>
{% endblock %}


{% block mycourseoperation %}
<div class="vstack">
  <div class="hstack">
    <label>Select Course</label>
    <select name="course" id="coursemanageroptionscourse">
    </select><!-- request data for options -->
  </div>
  <div class="hstack">  
    <button id="coursemanageraddbutton" type="submit" formaction="">Add</button>
    <button id="coursemanagerdeletebutton" type="submit" formaction="">Delete</button>
  </div>
</div>
{% endblock %}


{% block mytestoperation %}
  <div class="vstack">
    <div class="hstack">
      <label>Select Test</label>
      <select name="test" id="testmanageroptionstests">
      </select><!-- request data for options -->
    </div>
    <div class="hstack">
      <button id="testmanageraddbutton" type="submit" formaction="">Add</button>
      <button id="testmanagerdeletebutton" type="submit" formaction="">Delete</button>
    </div>
  </div>
{% endblock %}
