{% extends "students/b_hidden_forms.html" %}

{% block c %}
<div class="vstack">
  <h2>Define what you want</h2>
  <hr>
  
  <div class="hstack boderbox">
    <!-- major data -->
    <div class="vstack">
      <div class="hstack">
        <h1 style="margin-right:50px;"> My Status </h1>
        <div class="hstack">
          <button id="mymajorbutton">majors</button>
          {% if name %}
            <button id='updatehelperdata'>update</button>    
          {% endif %}
        </div> 
      </div>
      <div class="vstack" id="majorstracked">
      <!-- add hstack items containing major name and progress bar-->
        
      </div>
    </div>    
  </div>
  <div class="hstack boderbox">
    <!-- year/term data tree -->
    <div class="vstack">
      <h1> My Planner </h1>
      <ul id="plannerdata">
      </ul>
    </div>
    <!-- defining planner -->
        <div class="vstack">
          <div class="hstack">
            <label>year one</label>
            <input type="number" name="startingyear" id="startingyear" value="2020">    
          </div>
          <div class="hstack">
            <label>term #</label>
            <input type="number" name="termsperyear" id="termsperyear" min="1" >
          </div>
          <div class="hstack">
            <!-- onclick functions-->
            <button id="addbutton" type="submit">Add</button>
            <button id="deletebutton" type="submit">Delete</button> 
          </div>
        </div>
  </div>
  <div class="vstack">    
      <div id="mymajoractions" class="boderbox" style="display: none;">
        <div class="vstack">
          <div class="hstack">
            <!--- get the name of the term ---> 
            <h1> Change Majors Tracked</h1>
          </div>
          <div class="hstack">
            {% block mymajoroperation %}{% endblock %}
          </div>
        </div>
      </div>
      <div id="mytermactions" class="boderbox" " style="display: none;">
        <div class="vstack">
          <div class="hstack">
            <!--- get the name of the term ---> 
            <h1 id="thistermname">TERM</h1>
            <button id="mycoursesbutton">courses</button>
          </div>
          <!-- add hstack items containing course name and credit-->
          <div class="vstack" id="coursesinaterm">

          </div>
          <div class="hstack" id="mycourseoperation" style="display: none;">
            {% block mycourseoperation %}{% endblock %}
          </div>
        </div>
      </div>
      <div id="myapactions" class="boderbox"  style="display: none;">
        <div class="vstack">
          <div class="hstack">
            <h1> AP CREDIT </h1>
            <button id="myapbutton">credit</button>
          </div>
            <div class="hstack">
              <!-- add hstack items containing test name and score-->
            <div class="vstack" id="myaptests">
      
            </div>
            <div id="mytestoperation" style="display: none;">
              {% block mytestoperation %}{% endblock %}
            </div>
          </div>  
        </div>
      </div>
      <div id="tranfercredit" class="boderbox"  style="display: none;">
        <div class="vstack">
          <div class="hstack">
            <h1> TRANFER CREDIT </h1>
          </div>
           <!-- add hstack items containing course name and credit-->
          <div class="vstack" id="coursesinaptranfer">

          </div>
        </div>
      </div>
      <div id="status" class="boderbox"  style="display: none;">
        <div class="vstack">
          <h1> STATUS </h1>
          <ul id="mystatusdata">
          </ul>
        </div>   
      </div>  
  </div>

</div>

{% endblock %}
