{% extends "students/b_courses_forms.html" %}

{% block c %}


<div class="vstack">
  <div class="hstack boderbox">
        <button id="testbuttonterm">test term</button>
        <button id="testbuttonap">test ap</button>
        <button id="testbuttontranfer">test tranfer</button>
        <button id="testbuttonstatus">test status</button>
  </div>
  <div class="hstack boderbox">
    <!-- major data -->
    <div class="vstack">
      <h2> Tracker </h2>
      <div class="vstack" id="majorstracked">
      <!-- add hstack items containing major name and progress bar-->
      </div>
      <div class="hstack">
        <button id="mymajorbutton">change</button>
        {% if name %}
          <button id='updatehelperdata'>update</button>    
        {% endif %}
      </div>
    </div>    
  </div>

  <div class="hstack boderbox">
    <!-- year/term data tree -->
    <div class="vstack">
      <h1> Planner </h1>
      <ul id="plannerdata">
      </ul>
    </div>
    <!-- defining planner -->
    <div class="vstack">

      {% block createPlannerForm %}{% endblock %}
    </div>
  </div>
  <div class="hstack boderbox">    
      <div id="mymajoractions" style="display: none;">
        <div class="vstack">
          <div class="hstack">
            <!--- get the name of the term ---> 
            <h1> Change Majors Tracked</h1>
          </div>
          <div class="hstack">
            {% block mymajoroperation %}{% endblock %}
          </div>
        </div>
      </div>

      <div id="mytermactions" style="display: none;">
        <div class="vstack">
          <div class="hstack">
            <!--- get the name of the term ---> 
            <h1 id="thistermname">TERM</h1>
            <button id="mycoursesbutton">change courses</button>
          </div>
          {% block termcoursedata %}{% endblock %}
          <div class="hstack" id="mycourseoperation" style="display: none;">
            {% block mycourseoperation %}{% endblock %}
          </div>
        </div>
      </div>
      <div id="myapactions" style="display: none;">
        <div class="vstack">
          <div class="hstack">
            <h1> AP CREDIT </h1>
            <button id="myapbutton">change ap credit</button>
          </div>
          {% block myapcoursesdata %}{% endblock %}
          <div class="hstack" id="mytestoperation" style="display: none;">
            {% block mytestoperation %}{% endblock %}
          </div>

        </div>
      </div>
      <div id="tranfercredit" style="display: none;">
        <div class="vstack">
          <div class="hstack">
            <h1> TRANFER CREDIT </h1>
          </div>
          {% block specificapcoursedata %}{% endblock %}
        </div>
      </div>
      <div id="status" style="display: none;">
        <div class="vstack">
          <h1> STATUS </h1>
          <ul id="mystatusdata">
          </ul>
        </div>   
      </div>  
  </div>


</div>

{% endblock %}
