{% extends "students/c_helper.html" %}

{% block mymajoroperation %}
   <div class="vstack">
      <div class="hstack">
        <label style="width: 200px;">Select Major</label>
        <select name="major" id="optionsmajors">
        </select><!-- request data for options -->
      </div>    
      <div>
        <button id="addbutton" type="submit" formaction="">Add</button>
        <button id="deletebutton" type="submit" formaction="">Delete</button>
      </div>
  </div>
{% endblock %}

{% block majorprogress %}
  <div class="vstack" id="majorstracked">

  </div>
{% endblock %}

{% block createPlannerForm %}
  <label>year one</label>
  <input type="text" name="startingyear" id="startingyear">
  <label>term #</label>
  <input type="number" name="termsperyear" id="termsperyear" min="1" >
  <!-- onclick functions-->
  <button id="addbutton" type="submit">Add</button>
  <button id="deletebutton" type="submit">Delete</button>
{% endblock %}

{% block termcoursedata %}
 <!-- add hstack items containing course name and credit-->
  <div class="vstack" id="coursesinaterm">

  </div>
{% endblock %}


{% block mycourseoperation %}
   <label>Select Course</label>
   <select name="course" id="optionscourse">
   </select><!-- request data for options -->
   <button id="addbutton" type="submit" formaction="">Add</button>
   <button id="deletebutton" type="submit" formaction="">Delete</button>
{% endblock %}


{% block myapcoursesdata %}
 <!-- add hstack items containing test name and score-->
  <div class="vstack" id="myaptests">
    
  </div>
{% endblock %}


{% block mytestoperation %}
  <div class="vstack">
    <div class="hstack">
      <label>Select Test</label>
      <select name="test" id="optionstests">
      </select><!-- request data for options -->
    </div>
    <div class="hstack">
      <button id="addbutton" type="submit" formaction="">Add</button>
      <button id="deletebutton" type="submit" formaction="">Delete</button>
    </div>
  </div>
{% endblock %}

{% block specificapcoursedata %}

 <!-- add hstack items containing course name and credit-->
  <div class="vstack" id="coursesinaptranfer">

  </div>

{% endblock %}

