<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        color: white;
        background-color: black;
    }
</style>
 <body>
    <h1>My Majors</h1>
    <select name="" id="">
        <option value="majorun">Major 1</option>
        <option value="majordeux">Major 2</option> 
    </select>
    <select name="" id="">
        <option value="progress">Overall Progress</option>
        <option value="categories">Core sections</option> 
        <option value="subcategories">Subcategories</option>  
        <option value="requirements">Subrequirements</option> 
    </select>
    <table>
        <tr>
            <th>Credits Earned</th>  <th>Credits Needed</th>
        </tr>
        <tr>
            <td>0</td>  <td>0</td>
        </tr>
    </table>

    <h1>My Courses</h1>
    <input type="checkbox" name="" id="">
    
</body>
</html>