{% extends "students/base.html" %}
{% block title %}
    student homepage
{% endblock %}
{% block external %}
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/homebar.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/form.css' %}">  
{% endblock %}

{% block body%}
<nav class="home">
    <a class="homebar active" href="{% url 'credit' %}">CREDIT PLANNER</a>
    <a class="homebar" href="{% url 'schedule' %}">CLASS SCHEDULE</a>
    <a class="homebar" href="{% url 'budget' %}">BUDGET TRACKER</a>
</nav>
{% if my_majors%}
    {% for major in my_majors %}
        <p>{{major}}</p>
    {% endfor %}
{% endif %}
{% if my_years %}
    {% for year in my_years %}
        <p>{{year}}</p>
    {% endfor %}
{% endif %}
{% if my_semesters %}
    {% for semester in my_semesters %}
        <p>{{semester}}</p>
    {% endfor %}
{% endif %}
{% if my_courses %}
    {% for course in my_courses %}
        <p>{{course}}</p>
    {% endfor %}
{% endif %}
<ul id="nav">
    <li><a href="" class="nav-link" data-request="Majors">Majors</a></li>
    <li><a href="" class="nav-link" data-request="Categories">Categpries</a></li>
    <li><a href="" class="nav-link" data-request="SubCategories">SubCategories</a></li>
    <li><a href="" class="nav-link" data-request="Requirements">Requirements</a></li>
    <li><a href="" class="nav-link" data-request="Courses">Courses</a></li>
    <li><a href="" class="nav-link" data-request="Prereqs">Prereqs</a></li>
    <li><a href="" class="nav-link" data-request="Ap">Ap</a></li>
</ul>
<p id='testspace'></p>
<script>
    function requestMajors() {
        let request = new XMLHttpRequest();
        request.open('GET',`/courses/requestmajors/`, true);
        request.onload = () => { 
            let response = request.responseText;
            document.getElementById('testspace').innerHTML = response;
            history.pushState({'text': response}, );
        }
        request.send();
    }
    function requestCategories() {
        let request = new XMLHttpRequest();
        // request.open('GET', `courses/requestcategories/${major_name}`, true);
        request.open('GET',`/courses/requestcategories/EXAMPLE/`, true);
        request.onload = () => { 
            let response = request.responseText;
            document.getElementById('testspace').innerHTML = response;
            history.pushState({'text': response}, );
        }
        request.send();
    }

    function requestSubcategories(){
        let request = new XMLHttpRequest();
        // request.open('GET', `courses/requestsubcategories/${category_name}`, true);
        request.open('GET',`/courses/requestsubcategories/GED/`, true);
        request.onload = () => { 
            let response = request.responseText;
            document.getElementById('testspace').innerHTML = response;
            history.pushState({'text': response}, );
        }
        request.send();
    }

    function requestRequirements(){
        let request = new XMLHttpRequest();
        // request.open('GET', `courses/requestrequirements/${subcategory_name}`, true);
        request.open('GET',`/courses/requestrequirements/Natural%20Sciences/`, true);
        request.onload = () => { 
            let response = request.responseText;
            document.getElementById('testspace').innerHTML = response;
            history.pushState({'text': response}, );
        }
        request.send();
    }

    function requestCourses(){
        let request = new XMLHttpRequest();
        // request.open('GET', `courses/requestcourses/${requirement_name}`, true);
        request.open('GET',`/courses/requestcourses/Lab/`, true);
        request.onload = () => { 
            let response = request.responseText;
            document.getElementById('testspace').innerHTML = response;
            history.pushState({'text': response}, );
        }
        request.send();
   
    }

    function requestPrereqs(){
        let request = new XMLHttpRequest();
        // request.open('GET', `courses/requestprereqs/${course_name}`, true);
        request.open('GET',`/courses/requestprereqs/Biology%201101/`, true);
        request.onload = () => { 
            let response = request.responseText;
            document.getElementById('testspace').innerHTML = response;
            history.pushState({'text': response}, );
        }
        request.send();
    }

    function requestAP(){
        let request = new XMLHttpRequest();
        // request.open('GET', `courses/requestap/${course_name}`, true);
        request.open('GET',`/courses/requestap/Math%201152/`, true);
        request.onload = () => { 
            let response = request.responseText;
            document.getElementById('testspace').innerHTML = response;
            history.pushState({'text': response}, );
        }
        request.send();
    }

    window.onpopstate = e => {
            const data = e.state;
            document.getElementById('testspace').innerHTML = data.text;
    };

    document.addEventListener('DOMContentLoaded', () => {
        requestMajors();

        document.querySelectorAll('.nav-link').forEach(link => {
            link.onclick = () => {
                let request = link.dataset.request;
                if (request == 'Majors'){
                    requestMajors();
                }
                if (request == "Categories"){
                   requestCategories(); 
                }
                if (request == "SubCategories"){
                    requestSubcategories();
                }
                if (request == 'Requirements'){
                    requestRequirements();
                } 
                if (request == "Courses"){
                    requestCourses();
                }
                if (request == "Prereqs"){
                    requestPrereqs();
                }
                if (request == "Ap"){
                    requestAP();
                }
                return false;
            };
        });
    });
</script>
{% endblock %}
