{% extends "students/base.html" %}
{% block title %}
    student homepage
{% endblock %}
{% block external %}
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/homebar.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/form.css' %}">  
{% endblock %}
{% block body%}
<nav class="home">
    <a class="homebar active" href="{% url 'credit' %}">CREDIT PLANNER</a>
    <a class="homebar" href="{% url 'schedule' %}">CLASS SCHEDULE</a>
    <a class="homebar" href="{% url 'budget' %}">BUDGET TRACKER</a>
</nav>

<form method="post" action="{% url 'creditForm' %}">
    {% csrf_token %}  
    <div class="formgroup">
        <label>Major/Minor:</label>  
        <input type="text" placeholder="Enter requirement" name="major"> 
    </div> 
    <br>
    <button type="submit" class="btn btn-submit"></button>  
</form>  


{% endblock %}
