{% extends "students/base.html" %}
{% block title %}
    student homepage
{% endblock %}
{% block external %}
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/homebar.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/form.css' %}"> 
    {% load static %}
    <script src="{%static '/js/creditAjax.js' %}"></script>
{% endblock %}

{% block body%}
<nav class="home">
    <a class="homebar active" href="{% url 'credit' %}">CREDIT PLANNER</a>
    <a class="homebar" href="{% url 'schedule' %}">CLASS SCHEDULE</a>
    <a class="homebar" href="{% url 'budget' %}">BUDGET TRACKER</a>
</nav>
{% if my_majors%}
    {% for major in my_majors %}
        <p>{{major}}</p>
    {% endfor %}
{% endif %}
{% if my_years %}
    {% for year in my_years %}
        <p>{{year}}</p>
    {% endfor %}
{% endif %}
{% if my_semesters %}
    {% for semester in my_semesters %}
        <p>{{semester}}</p>
    {% endfor %}
{% endif %}
{% if my_courses %}
    {% for course in my_courses %}
        <p>{{course}}</p>
    {% endfor %}
{% endif %}
<ul id='workspace'>

</ul>
<input type="text" id="parent" name="parent">
<button onclick='requestMajors()'>Majors</button>
<button onclick='requestCategories()'>Categories</button>
<button onclick='requestSubcategories()'>SubCategories</button>
<button onclick='requestRequirements()'>Requirements</button>
<button onclick='requestCourses()'>Courses</button>
<button onclick='requestPrereqs()'>Prereqs</button>
<button onclick='requestAP()'>Ap</button>

{% endblock %}
