{% extends "students/base.html" %}
{% block title %}
    student homepage
{% endblock %}
{% block external %}
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/homebar.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/form.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/coursesforms.css' %}"> 
{% endblock %}

{% block body%}
<nav class="home">
    <a class="homebar active" href="{% url 'credit_one' %}">CREDITS NEEDED</a>
    <a class="homebar" href="{% url 'credit_two' %}">CREDITS WANTED</a>
</nav>
<br>
<!-- table forms -->
<div>
    <button id='instructions' class="btn btn-submit" style="width: 100%;" onclick="displayForms()">
        <h1>Define what you need</h1>
        <hr>
        <strong>Instructions:</strong><br>
        <hr>
        select a category to list the names of related data<br>
        select the related data to filter out data linked to it<br>
        select the category to the right to reflect this filter<br>
        select a category to use a form to add/delete data<br>
        the order is as follows:<br>
        major > category > subcategory > requirement > course > prereq & ap<br>
        warning: do not use the same name for separate data<br>
        <hr>
    </button>
    <div class="workspace">  
        <div class="centerspace">
            <br>
            <div class='courses'>
                <div id='Majorformadd' style="display: none;">
                    <h3>+ Major</h3>  
                        <form method="post" action="{% url 'addListMajor' %}">  
                            {% csrf_token %} 
                            <table> {{ ListMajorForm }} </table>
                            <button type="submit" class="btn btn-submit">Add</button>
                        </form> 
                </div>
                <div id='Majorformdelete' style="display: none;">
                    <h3>- Major</h3>  
                        <form method="post" action="{% url 'deleteListMajor' %}">  
                            {% csrf_token %} 
                            <table> {{ ListMajorForm }} </table> 
                            <button type="submit" class="btn btn-submit">Delete</button>  
                        </form> 
                </div>
            </div>
            <div class='courses'>
                <div id='Categoryformadd' style="display: none;">
                    <h3>+ Category</h3>  
                        <form method="post" action="{% url 'addListCategory' %}">  
                            {% csrf_token %} 
                            <table> {{ ListCategoryForm }} </table> 
                            <button type="submit" class="btn btn-submit">Add</button> 
                        </form> 
                </div>
                <div id='Categoryformdelete' style="display: none;">
                    <h3>- Category</h3>  
                        <form method="post" action="{% url 'deleteListCategory' %}">  
                            {% csrf_token %} 
                            <table> {{ ListCategoryForm }} </table>  
                            <button type="submit" class="btn btn-submit">Delete</button>
                        </form>  
                </div>
            </div>
            <div class='courses'>
                <div id='Subcategoryformadd' style="display: none;">
                    <h3>+ Subcategory</h3>  
                        <form method="post" action="{% url 'addListSubcategory' %}">  
                            {% csrf_token %} 
                            <table> {{ ListSubCategoryForm }} </table>  
                            <button type="submit" class="btn btn-submit">Add</button> 
                        </form>
                </div>
                <div id='Subcategoryformdelete' style="display: none;">
                    <h3>- Subcategory</h3>  
                        <form method="post" action="{% url 'deleteListSubcategory' %}">  
                            {% csrf_token %}  
                            <table> {{ ListSubCategoryForm }} </table>   
                            <button type="submit" class="btn btn-submit">Delete</button>
                        </form>  
                </div>
            </div>
            <div class='courses'>
                <div id='Requirementformadd' style="display: none;">
                    <h3>+ Requirement</h3>  
                        <form method="post" action="{% url 'addListRequirement' %}">  
                            {% csrf_token %}
                            <table> {{ ListRequirementForm }} </table> 
                            <button type="submit" class="btn btn-submit">Add</button>   
                        </form> 
                </div>
                <div id='Requirementformdelete' style="display: none;">
                    <h3>- Requirement</h3>  
                        <form method="post" action="{% url 'deleteListRequirement' %}">  
                            {% csrf_token %}
                            <table> {{ ListRequirementForm }} </table>  
                            <button type="submit" class="btn btn-submit">Delete</button>
                        </form>  
                </div>
            </div>
            <div class='courses'>
                <div id='Courseformadd' style="display: none;">
                    <h3>+ Course</h3>  
                        <form method="post" action="{% url 'addListCourse' %}">  
                            {% csrf_token %} 
                            <table> {{ ListCourseForm }} </table> 
                            <button type="submit" class="btn btn-submit">Add</button>  
                        </form>
                </div>
                <div id='Courseformdelete' style="display: none;">
                    <h3>- Course</h3>  
                        <form method="post" action="{% url 'deleteListCourse' %}">  
                            {% csrf_token %} 
                            <table> {{ ListCourseForm }} </table>  
                            <button type="submit" class="btn btn-submit">Delete</button>
                        </form>  
                </div>
            </div>
            <div class='courses'>
                <div id='Prereqformadd' style="display: none;">
                    <h3>+ Prereq</h3>  
                        <form method="post" action="{% url 'addListPrereq' %}">  
                            {% csrf_token %} 
                            <table> {{ ListPrereqForm }} </table> 
                            <button type="submit" class="btn btn-submit">Add</button>
                        </form>  
                </div>
                <div id='Prereqformdelete' style="display: none;">
                    <h3>- Prereq</h3>  
                        <form method="post" action="{% url 'deleteListPrereq' %}">  
                            {% csrf_token %} 
                            <table> {{ ListPrereqForm }} </table>  
                            <button type="submit" class="btn btn-submit">Delete</button>
                        </form>  
                </div>
            </div>
            <div class='courses'>
                <div id='Apformadd' style="display: none;">
                    <h3>+ Ap Test</h3>  
                        <form method="post" action="{% url 'addListAp' %}">  
                            {% csrf_token %} 
                            <table> {{ ListApForm }} </table> 
                            <button type="submit" class="btn btn-submit">Add</button> 
                        </form> 
                </div>
                <div id='Apformdelete' style="display: none;">
                    <h3>- Ap Test</h3>  
                        <form method="post" action="{% url 'deleteListAp' %}">  
                            {% csrf_token %} 
                            <table> {{ ListApForm }} </table>  
                            <button type="submit" class="btn btn-submit">Delete</button> 
                        </form> 
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- table data -->
<div class="workspace">  
    <div class="centerspace"> 
        <div class='courses'>
            <div id='Majors' >
                <div id='listMajors'>
                    <button class="btn btn-submit" onclick='listMajors()'>Majors</button>
                    <hr>
                </div>
            </div>
            <div id='Categories'>
                <div id='listCategories'>
                    <button class="btn btn-submit" onclick='listCategories()'>Categories</button>
                    <hr>
                </div>
            </div>
            <div id='Subcategories'>
                <div id='listSubcategories'>
                    <button class="btn btn-submit" onclick='listSubcategories()'>SubCategories</button> 
                    <hr>
                </div>
            </div>
            <div id='Requirements'>
                <div id='listRequirements'>
                    <button class="btn btn-submit" onclick='listRequirements()'>Requirements</button>
                    <hr>
                </div>
            </div>
            <div id='Courses'>
                <div id='listCourses'>
                    <button class="btn btn-submit" onclick='listCourses()'>Courses</button>
                    <hr>
                </div>
            </div>
            <div id='Prereqs'>
                <div id='listPrereqs'>
                    <button class="btn btn-submit" onclick='listPrereqs()'>Prereqs</button> 
                    <hr>
                </div>
            </div>
            <div id='Ap'>
                <div id='listAP'>
                    <button class="btn btn-submit" onclick='listAP()'>Ap</button>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
