{% extends "students/base.html" %}
{% block title %}
    student homepage
{% endblock %}
{% block external %}
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/home.css' %}">
{% endblock %}
{% block body%}
    <ul id="homebar">
        {% for link in links%}
        <li class="homeitem"><a href={{link.1}} class="homeselection">{{link.0}}</a></li>
        {% endfor %}
        {% if user %}
            <li class="homeitem homeselection">Hello, {{ user.first_name }}</li>
        {% endif %}
    </ul>
{% endblock %}
