{% extends "students/d_modals.html" %}

{% block external %} 
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/layout.css' %}"> 
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/forms.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/treedata.css' %}">
    {% load static %}
    <script src="{%static '/js/app.js' %}"></script>
{% endblock %}

{% block title %}
    Course Helper
{% endblock %}

{% block a %}
    <h1>Course Helper</h1>
    <p>tracking and managing course credit</p>
{% endblock %}

{% block footer %} 
    <h5>Created By Chris Liu</h5>
{% endblock %}

{% block navbuttons %}
    <button id='creditsneeded'>Credits Needed</button>
    <button id='creditswanted'>Credits Wanted</button> 
    {% if signin %}
    <button id='signin'>Sign In</button>
    {% endif %}
    {% if signup %}
    <button id='signup'>Sign Up</button>
    {% endif %}
    {% if signout %}
    <button id='signout'>Sign Out</button>
    {% endif %}
{% endblock %}
