{% extends "students/d_modals.html" %}

{% block external %} 
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/layout.css' %}"> 
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/forms.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/treedata.css' %}">
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/progress.css' %}">
    {% load static %}
    <script src="{%static '/js/app.js' %}"></script>
{% endblock %}

{% block title %}
    Course Helper
{% endblock %}

{% block a %}
    <h1>Course Helper</h1>
    <p>tracking and managing course credit</p>
{% endblock %}

{% block footer %} 
    <h5>Created By Chris Liu</h5>
    <button id="darkmode">dark mode</button>
{% endblock %}

{% block navbuttons %}
        <button class="thick" id='creditsneeded'>Course</button>
        <button class="thick" id='creditswanted'>Helper</button> 
        {% if signin %}
        <button class="thick" id='signin'>Sign In</button>
        {% endif %}
        {% if signup %}
        <button class="thick" id='signup'>Sign Up</button>
        {% endif %}
        {% if signout %}
        <button class="thick" id='signout'>Sign Out</button>
        {% endif %}
{% endblock %}
