{% extends "students/base.html" %}
{% block title %}
    student sign in
{% endblock %}
{% block external %}
    {% load static %}
    <link rel="stylesheet" href="{%static '/css/form.css' %}"> 
{% endblock %}
{% block body%}
    <div id="workspace">  
        <div class="centerspace">  
            <div class="formframe">  
                {% if message %}
                    <p> {{ message }} </p>
                {% endif %}
                <h1>Sign in to ChrisCourseHelper</h1>  
                <form method="post" action="{% url 'signin' %}">  
                    {% csrf_token %}  
                    <div class="formgroup">
                        <label class="smallgroup">Username:</label>  
                        <input class="biggroup" type="text" placeholder="Enter username" name="username"> 
                    </div>
                    <div class="formgroup">
                        <label class="smallgroup">Password:</label>  
                        <input class="biggroup" type="password" class="form-control" placeholder="Enter password" name="password">  
                    </div>   
                    <br>
                    <button type="submit" class="btn btn-submit">Sign in</button>  
                </form>  
            </div>  
        </div>  
    </div>  
{% endblock %}
