$fonts: Arial, Helvetica, sans-serif;
* {
    font-family: $fonts;
    box-sizing: border-box; //child fits in parent
}
#workspace{
    text-align: center;
    #main{
        display: inline;
        hr{
            width: 500px;
        }
    }
}
.contentbox{
	display: flex;
	flex-wrap: wrap;
}
button{ //default button
    width: 110px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    &:hover{
        border: 2px solid lightblue; 
    }
}
