$fonts: Arial, Helvetica, sans-serif;
* {
    font-family: $fonts;
    box-sizing: border-box; //child fits in parent
}
#workspace{
    text-align: center;
    #main{
        display: inline;
        hr{
            width: 500px;
        }
    }
}
section{
  text-align: center;

  .hstack{
    border: 1px solid black;
    padding: 10px;
    margin: -1px;
    display: inline-flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: space-evenly;
    .box{
      display: inline-flex;
      flex-direction: column;
      .stack{
        display: block;
        margin-left: 10px;;
      }
    }
  }
  .vstack{
    border: 2px solid black;
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
  }
}
  

button{ //default button
    width: 110px;
    background-color: white;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    &:hover{
        border: 2px solid lightblue; 
    }
}
