ul{
  text-align: left;
  list-style-type: none;
  margin: 0px;
  li{
    margin: 0px;
  }
  span{
    margin: 0px;
  }
}
// add cosmetic content to an element
.caret::before{
    content: "\25B6";
    color: black;
    display: inline-block;
}
.caret-down::before {
    transform: rotate(90deg);
}
.xmark::before{
  content: "\2612";
  display: inline-block; 
}
.checkmark::before{
  content: "\2611";
  display: inline-block; 
}
.nested {
    display: none;
}
